<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog>
    <targets>
      <target name="default" type="File" fileName="applog.txt"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="default" />
    </rules>
  </nlog>
</configuration>